* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

img {
    height: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#caixa-numeros {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    border-radius: 6px;
    padding-left: 10px;
}

.numeros {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#caixa-botoes {
    border-radius: 6px;
    text-align: center;
    margin-top: 20px;
}

.botoes {
    color: #C5FB01;
    padding: 10px;
    border-color: #C5FB01;
    background: black;
    cursor: pointer;
    width: 85px;
}

#legenda{
    color: #C5FB01;
    border-color: #C5FB01;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-left: 485px;
}

.ativo{
    opacity: 0.5;
}